<%= form_with(model: @task, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_name">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>
  <div class="task_detail">
    <%= form.label :詳細 %>
    <%= form.text_field :detail %>
  </div>
  <div class="task_dead_line">
    <%= form.label :終了期限 %>
    <%= form.date_select :dead_line %>
  </div>
  <div class="task_status">
    <%= form.label :状態 %>
    <%= form.select :status, Task.statuses.keys.to_a %>
  </div>
  <div class="task_priority">
    <%= form.label :優先順位 %>
    <%= form.select :priority, Task.priorities.keys.to_a %>
  </div>
  <div class="task_label">
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "タスク一覧画面にもどる", tasks_path %>
