<h1>タスク内容画面</h1>
<p>名前: <%= @task.name %></p>
<p>詳細: <%= @task.detail %></p>
<p>終了期限: <%= @task.dead_line.strftime("%Y-%m-%d") %></p>
<p>状態:<%= @task.status %></p>
<p>優先順位:<%= @task.priority %></p>
<p>ラベル:<% @task.labels.each do |label| %>
              <%= label.name %>
            <% end %></p>

<%= link_to "タスク一覧画面にもどる", tasks_path %>
