<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>



<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>詳細</th>
      <th><%= link_to '終了期限', tasks_path(sort_expired: "true") %></th>
      <th>状態</th>
      <th><%= link_to '優先順位', tasks_path(sort_priority: "true") %></th>
      <th>作成者</th>
    </tr>
  </thead>
  <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td class="task_row"><%= task.name %></td>
          <td><%= task.detail %></td>
          <td><%= task.dead_line.strftime("%Y-%m-%d") %></td>
          <td><%= task.status %></td>
          <td><%= task.priority %></td>
          <td><%= task.user.name %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<%= link_to "タスク一覧画面へ", tasks_path %>
